{{define "title"}}{{.Title}}{{end}}

{{define "content"}}
    {{if eq .Command "edit"}}
        <div class="uk-card uk-card-default uk-card-body" blog-id="{{.Data.ID}}">
            <form>
                <label class="uk-form-label" for="form-horizontal-text">Заголовок</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Название статьи" value={{.Data.Title}}>
                </div>
                <label class="uk-form-label" for="form-horizontal-text">Статья</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea" rows="10" placeholder="Содержание статьи">{{.Data.Body}}</textarea>
                </div>
                <p uk-margin>
                        <button class="uk-button uk-button-default" onclick="updateBlog('{{.Data.ID}}')">Записать</button>
                </p>                
            </form>
            <br/>
        </div>
    {{else}}
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-heading-line"><span>{{.Data.Title}}</span></h3>
            <div class="uk-card uk-card-default uk-card-body">
                {{.Data.Body}}
            </div>
            <br/>
        </div>
    {{end}}
{{end}}

{{define "scripts"}}
<script>
    function updateBlog(id) {
        let blog = document.querySelector(`div[blog-id="${id}"]`)
        let title = blog.querySelector('input[type="text"]').value
        let bodyblog = blog.querySelector('input[type="textarea"]').value
        fetch(`/api/v1/edit/${id}`, {
            method: 'PUT',
            body: JSON.stringify({
                bodyblog,
                title,
            })            
        }).then(resp => location.reload())
    }
</script>
{{end}}